@import url(https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap);

:root{
    --main-bg-color: #26173a
    --secondary-bg-color: #38067d
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Unbounded";
}